<nav class="navbar navbar-default ligth">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Eventos" src="https://symfony.com/images/logos/sf-positive.svg" class="icon-navbar">
      </a>
    </div>
  </div>
</nav>